<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-4">
            <span class="page-name">Important Leader Details</span>
        </div>
    </div>
    <div class="row chartbox">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="mb-0 text-main fw-bold">Udyanraje Pratapsinha Bhosale</h6>
                        <p class="mb-0 bg-warning text-dark rounded-pill py-0 px-3">Satara</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-sm-2">
                            <div class="leader-img">
                                <img src="assets/images/dashboard-images/Profile_dummy.svg" class="leader">
                                <img src="assets/images/logos/bjp.png" class="party">
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="row form-container g-2">
                                <div class="form-data text-secondary col-sm-2">Leader Name :</div>
                                <div class="form-data text-dark col-sm-10">Udyanraje Pratapsinha Bhosale</div>

                                <div class="form-data text-secondary col-sm-2">Designation :</div>
                                <div class="form-data text-dark col-sm-10">MP</div>

                                <div class="form-data text-secondary col-sm-2">Mobile No. :</div>
                                <div class="form-data text-dark col-sm-10">9988776556</div>

                                <div class="form-data text-secondary col-sm-2">Address :</div>
                                <div class="form-data text-dark col-sm-10">Satara</div>

                                <div class="form-data text-secondary col-sm-2">Remarks :</div>
                                <div class="form-data text-dark col-sm-12">
                                    Udyanraje Bhosale is a member of the 17th Lok Sabha representing NCP from Satara
                                    Constituency in Maharashtra state in India.In 2009, 2014 and 2019 parliamentary
                                    elections he was elected to the Lok Sabha as a Nationalist Congress Party candidate.
                                    Before that, he was a member of the Maharashtra Legislative Assembly and the
                                    Minister for Revenue of Maharashtra in the Bharatiya Janata Party government.
                                    Udyanraje Bhosale is current MP from Satara [Satara]. He belongs to Nationalist
                                    Congress Party [ NCP ].
                                </div>
                                <div class="form-data text-dark col-sm-12">
                                    <ol>
                                        <li>In 2019 He was elected as MP from Satara[ NCP ].</li>
                                        <li>In 2014 He was elected as MP from Satara[ NCP ].</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>