<div class="container-fluid commitees">
    <div id="pageheader" class="px-3">
      <span class="page-name">Committees Dashboard</span>
    </div>

    <div class="row g-3" id="dash-stats">
        <div class="col-sm">
          <div class="card card-body bg-cyan">
            <i class="fas fa-vote-yea"></i>
            <p>Parliamentary Constituency</p>
            <h3>{{boothComitySummary?.totalPC}}</h3>
          </div>
        </div>
        <div class="col-sm">
          <div class="card card-body bg-green">
            <i class="fas fa-map-marked-alt"></i>
            <p>Assembly Constituency</p>
            <h3>{{boothComitySummary?.totalAC}}</h3>
          </div>
        </div>
        <div class="col-sm">
          <div class="card card-body bg-blue">
            <i class="fas fa-th-large"></i>
            <p>Voters</p>
            <h3>{{boothComitySummary?.totalVoter}}</h3>
          </div>
        </div>
        <div class="col-sm">
          <div class="card card-body bg-red">
            <i class="far fa-handshake"></i>
            <p>Booths</p>
            <h3>{{boothComitySummary?.totalBooths}}</h3>
          </div>
        </div>
        <div class="col-sm">
          <div class="card card-body bg-voilet">
            <i class="fas fa-poll"></i>
            <p>Booth Committee</p>
            <h3>{{boothComitySummary?.totalCommittee}}</h3>
          </div>
        </div>
      </div>

    <div class="row chartbox mb-3">
      <div class="col-md-12">
        <div class="card card-body" id="committeesonmap">
          <div class="row gy-4">
            <div class="col-sm-6 border-end map-height">
                <form [formGroup]="topFilter">
                <div class="d-block">
                    <div class="form-check form-check-inline" *ngFor="let mapFilter of mapFilterTypeArray">
                        <input class="form-check-input" type="radio" formControlName="FilterTypeId" [value]="mapFilter.id" name="FilterTypeId"
                        (change)="changeFilterType()">
                        <label class="form-check-label" for="check">{{mapFilter.value}}</label>
                    </div>
                </div>

                <div>
                    <ngx-select [allowClear]="true" [items]="bCFormationDropArray" formControlName="FilterId" optionValueField="constituenciesId" optionTextField="constituencyName"
                    (select)="selectDropdown()" (remove)="firstTimeCallM_Svg()"
                        placeholder="{{topFilter.value.FilterTypeId == 1 ? 'Select Parliamentary Constituency' : topFilter.value.FilterTypeId == 2 ? 'Select Assembly Constituency' : topFilter.value.FilterTypeId == 3 ? 'Select District' : ''}}">
                    </ngx-select>
                </div>
            </form>

              <div class="card card-body shadow-none p-0">
                <div class="committeesonmap2">
                  <!-- <div class="text-end fw-bold text-primary">{{filteredDistrict[0]?.districtName  + (filteredTal.length ? (' (' + filteredTal[0]?.talukaName +')'):'')}}</div> -->
                  

                  <div  id="mapSvgAssembly"></div>
                  <div  id="mapSvgParli"></div>

                  <div id="mapsvg1" (click)="svgMapClick()"></div>
                  <div [ngClass]="{'d-none': (topFilter.value.FilterTypeId != 3 || selectedDistrictId == '')}" [class]="previousDistSelected=='9' ? 'm-5' : 'm-4'" id="mapsvg2" (click)="svgMapClick1('mapClick')"></div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card card-body shadow-none border py-2 mb-2">
                <div class="d-flex gap-4 justify-content-between text-success">
                  <p class="mb-0 small">President : <span class="fw-bold">{{presidentDetailsObj?.fullName ?
                      presidentDetailsObj?.fullName :'-'}}</span></p>
                  <p class="mb-0 small">Mobile No : <span class="fw-bold">{{presidentDetailsObj?.mobileNo ?
                      presidentDetailsObj?.mobileNo :'-'}}</span></p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 border-end">
                  <p class="bold">Booth Committee Performance</p>
                  <div id="chart" *ngIf="pieChartShow">
                    <apx-chart [series]="chartOptions?.series" [chart]="chartOptions?.chart"
                      [labels]="chartOptions?.labels" [responsive]="chartOptions?.responsive"
                      [legend]="chartOptions?.legend" [colors]="chartOptions?.colors"></apx-chart>
                    <div class="mt-2 text-center">
                    </div>
                  </div>
                  <div *ngIf="!pieChartShow" class="card-body">
                    <div class="alert alert-danger text-center py-2 mb-0 small">No Data Found..!
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card shadow-none border-0">
                    <div class="card-header py-1 px-0 border-bottom">
                      <span class="text-main">Important Leaders</span>
                    </div>
                    <div class="card-body p-0 fix-height">
                      <div class="list-group list-group-flush">
                        <a class="list-group-item list-group-item-action border-0 border-bottom px-2 " href="#"
                          *ngFor="let impLeaders of impLeadersArray" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          <p class="mb-0 fw-bold mt-1"> {{impLeaders?.voterName}} </p>
                          <span class="small">{{impLeaders?.mobileNo1}}</span>
  
                        </a>
                        <div *ngIf="impLeadersArray.length==0" class=" card-body">
                          <div class="alert alert-danger text-center py-2 mb-0 small">No Data Found..!
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  