<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-auto">
            <span class="page-name">Local Government Body
            </span>
        </div>
    </div>

    <div class="row chartbox">
            <div class="col-sm-4">
                <form [formGroup]="mainForm">
                <div class="card">
                    <div class="card-header">
                        Add Local Government Body
                    </div>
                    <div class="card-body pt-0">
                        <div class="form-container">
                            <div class="mb-2">
                                <label for="" class="form-label">Constituency</label>
                                <input type="text" class="form-control" placeholder="Constituency Name">
                            </div>
                            <div class="mb-2">
                                <ngx-select [allowClear]="true" [items]="categoryArray_m" formControlName="categoryId"
                                optionValueField="id" optionTextField="categoryType" 
                                (remove)="clearFilter_m('category_m')" placeholder="Select Category">
                                </ngx-select>
                            </div>
                            <!-- <div class="mb-2">
                                <label for="" class="form-label">Category</label>
                                <select class="form-select">
                                    <option value="">Select Category</option>
                                </select>
                            </div> -->
                            <div class="mb-2">
                                <label for="" class="form-label">Type</label>
                                <div class="d-flex gap-3">
                                    <div class="form-check" *ngFor="let array of urbanRuralTypeArray">
                                        <input class="form-check-input" type="radio" [value]="array.id" (click)="onClickType(array.id);selType(array.id)" formControlName="isRural">
                                        <label class="form-check-label">
                                            {{array?.name}}
                                        </label>
                                    </div>
                                    <!-- <div class="form-check">
                                        <input class="form-check-input" type="radio" formControlName="isRural" name="flexRadioDefault"
                                             checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Urban
                                        </label>
                                    </div> -->
                                </div>
                            </div>
                            <div class="row gx-2 mb-2">
                                <div class="col-sm-6">
                                    <ngx-select [allowClear]="true" (remove)="clearFilter_m('state_m')" [items]="stateArray_m" formControlName="stateId"
                                        (select)="clearFilter_m('state_m');getDivision('state_m')" placeholder="Select State" optionValueField="id"
                                        optionTextField="stateName">
                                    </ngx-select>
                                </div>
    
                                <!-- <div class="col-sm-6">
                                    <label for="" class="form-label">State</label>
                                    <select class="form-select">
                                        <option value="">Select State</option>
                                    </select>
                                </div> -->
    
                                <div class="col-sm-6">
                                    <ngx-select [allowClear]="true" [items]="divisionArray_m" formControlName="divisionId"
                                        [disabled]="divisionArray_m?.length == 1 || !f_m['stateId'].value" optionValueField="divisionId"
                                        optionTextField="divisionName" (select)="clearFilter('division_m');getDistrict('division_m')"
                                        (remove)="clearFilter_m('division_m')" placeholder="Select Division">
                                    </ngx-select>
                                </div>
    
                                <!-- <div class="col-sm-6">
                                    <label for="" class="form-label">Division</label>
                                    <select class="form-select">
                                        <option value="">Select Division</option>
                                    </select>
                                </div> -->
                            </div>

                            <div class="row gx-2 mb-2">
                                <div class="col-sm-6">
                                    <ngx-select [allowClear]="true" [items]="districtArray_m" formControlName="districtId" [disabled]="districtArray_m?.length == 1 || !f_m['divisionId'].value"
                                    optionValueField="districtId" optionTextField="districtName" (select)="clearFilter_m('district_m');getTaluka('district_m')" 
                                    (remove)="clearFilter_m('district_m')" placeholder="Select District">
                                    </ngx-select>
                                </div>
    
                                <div class="col-sm-6" *ngIf="!mainForm.value.isRural">
                                    <ngx-select [allowClear]="true" [items]="talkaArray_m" formControlName="talukaId" [disabled]="talkaArray_m?.length == 1 || !f_m['districtId'].value"
                                    optionValueField="talukaId" optionTextField="talukaName" (select)="clearFilter_m('taluka_m');getVillage('taluka_m')" 
                                    (remove)="clearFilter_m('taluka_m')" placeholder="Select Taluka">
                                    </ngx-select>
                                </div>
    
                            </div>
                            
                            <!-- <div class="mb-2">
                                <label for="" class="form-label">District</label>
                                <select class="form-select">
                                    <option value="">Select District</option>
                                </select>
                            </div> -->
                            <div class="mb-3">
                                <label for="txtSearchAssembly" class="form-label">Taluka / Village</label>
                                <div class="card border shadow-none">
                                    <div class="card-header border-bottom p-0 py-1">
                                        <input type="text" placeholder="Search Taluka / Village"
                                            class="form-control form-control-sm border-0">
                                    </div>
                                    <div class="card-body py-2 ChekBox">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                            <label class="form-check-label" for="defaultCheck1">
                                                Default checkbox
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                            <label class="form-check-label" for="defaultCheck2">
                                                Disabled checkbox
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                            <label class="form-check-label" for="defaultCheck1">
                                                Default checkbox
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                            <label class="form-check-label" for="defaultCheck2">
                                                Disabled checkbox
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-secondary">Clear</button>
                                <button type="submit" class="btn btn-main">Add Local Body</button>
                            </div>
                        </div>
                    </div>
                </div>
                
        </form>
            </div>
        
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex gap-2">
                        <form [formGroup]="filterForm">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ngx-select [allowClear]="true" (remove)="clearFilter('state');getCommitteMemberTypewise()" [items]="stateArray" formControlName="stateId"
                                        (select)="clearFilter('state');getDivision();getCommitteMemberTypewise()" placeholder="Select State" optionValueField="id"
                                        optionTextField="stateName">
                                    </ngx-select>
                                </div>
                                <div class="col-sm-3">
                                    <ngx-select [allowClear]="true" [items]="divisionArray" formControlName="divisionId"
                                        [disabled]="divisionArray?.length == 1 || !f['stateId'].value" optionValueField="divisionId"
                                        optionTextField="divisionName" (select)="clearFilter('division');getDistrict();getCommitteMemberTypewise()"
                                        (remove)="clearFilter('division');getCommitteMemberTypewise()" placeholder="Select Division">
                                    </ngx-select>
                                </div>
                                <div class="col-sm-3">
                                    <ngx-select [allowClear]="true" [items]="districtArray" formControlName="districtId" [disabled]="districtArray?.length == 1 || !f['divisionId'].value"
                                    optionValueField="districtId" optionTextField="districtName" (select)="clearFilter('district');getTaluka();getCommitteMemberTypewise()" 
                                    (remove)="clearFilter('district');getCommitteMemberTypewise()" placeholder="Select District">
                                    </ngx-select>
                                </div>
                                <div class="col-sm-3">
                                    <ngx-select [allowClear]="true" [items]="talkaArray" formControlName="talukaId" [disabled]="talkaArray?.length == 1 || !f['districtId'].value"
                                    optionValueField="talukaId" optionTextField="talukaName" (select)="clearFilter('taluka');getVillage();getCommitteMemberTypewise()" 
                                    (remove)="clearFilter('taluka');getCommitteMemberTypewise()" placeholder="Select Taluka">
                                    </ngx-select>
                                </div>
                                <div class="col-sm-3">
                                    <ngx-select [allowClear]="true" [items]="villageArray" formControlName="villageId" [disabled]="villageArray?.length == 1 || !f['talukaId'].value"
                                    optionValueField="villageId" optionTextField="villageName" (select)="clearFilter('village');getCommitteMemberTypewise()" 
                                    (remove)="clearFilter('village');getCommitteMemberTypewise()" placeholder="Select Village">
                                    </ngx-select>
                                </div>
                                <div class="col-sm-3">
                                    <ngx-select [allowClear]="true" [items]="categoryArray" formControlName="categoryId"
                                    optionValueField="id" optionTextField="categoryType" (select)="getCommitteMemberTypewise()" 
                                    (remove)="clearFilter('category');getCommitteMemberTypewise()" placeholder="Select Category">
                                    </ngx-select>
                                </div>
                                <div class="input-group col-sm-3">
                                    <input type="text" placeholder="Search" class="form-control" formControlName="SearchText">
                                    <button type="button" class="btn btn-sm btn-light">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>  
                        </form>
                    </div>
            
                </div>
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Consitution/Assembly Name</th>
                                    <th>Category</th>
                                    <th>Type</th>
                                    <th>State</th>
                                    <th>Division</th>
                                    <th>District</th>
                                    <th>Taluka/Village</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let mainData of localBodyListArray; let i = index">
                                    <td>{{((paginationNo + 1) * 10 + i + 1)-20}}</td>
                                    <td>{{mainData?.constituencyName ? mainData?.constituencyName : '-'}}</td>
                                    <td>{{mainData?.categoryType ? mainData.categoryType : '-'}}</td>
                                    <td>{{mainData?.isRural == 0 ? 'Rural' : 'Urban'}}</td>
                                    <td>{{mainData?.getAssignVillagestoConstituencyCommitteeList?.stateName ?
                                        mainData?.getAssignVillagestoConstituencyCommitteeList?.stateName : '-'}}</td>
                                    <td>{{mainData?.getAssignVillagestoConstituencyCommitteeList[0]?.divisionName ? 
                                        mainData?.getAssignVillagestoConstituencyCommitteeList[0]?.divisionName : '-'}}</td>
                                    <td>{{mainData?.getAssignVillagestoConstituencyCommitteeList[0]?.districtName ? 
                                        mainData?.getAssignVillagestoConstituencyCommitteeList[0]?.districtName : '-'}}</td>
                                    <td>
                                        Taluka Count : {{mainData?.getAssignVillagestoConstituencyCommitteeList[0]?.length ? 
                                            mainData?.getAssignVillagestoConstituencyCommitteeList[0]?.length : 0}}
                                            <span>
                                                <button type="button" title="show details" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                (click)="showVillageTalukaList(mainData?.getAssignVillagestoConstituencyCommitteeList)"
                                                class="btn btn-sm btn-light text-edit me-1 rounded">
                                                <i class="far fa-eye"></i>
                                            </button>
                                            </span>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" title="Edit Constituency"
                                                class="btn btn-sm btn-light text-edit me-1 rounded">
                                                <i class="far fa-edit"></i>
                                            </button>
                                            <button type="button" title="Delete Constituency"
                                                class="btn btn-sm btn-light text-danger rounded">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Talulka/Village Name</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul>
            <li *ngFor="let details of villageTalukaDetailsList">{{details?.villageName}}</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>