agm-map {
    height: 400px !important;
}

.closeShape {
    top: 95px;
    position: absolute;
    z-index: 9;
}
.closebtn{
    position: absolute;
    top: 5px;
    left: 80px;
    z-index: 9;
    background: none padding-box rgb(255, 255, 255);
    border: 0px;
    color: rgb(86, 86, 86);
    font-size: 13px;
    border-radius: 2px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    padding: 2px 9px;
    line-height: 20px;
    cursor: pointer;
}
.closebtn:hover{
    background-color: #eee;
}