<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-4">
            <span class="page-name">Assign Booths to Constituency</span>
        </div>
    </div>

    <div class="row chartbox mb-3">
        <div class="col-sm-3 mb-3 mb-lg-0">
            <div class="card">
                <div class="card-header">Assign Booths to Constituency</div>
                <form [formGroup]="assignBoothForm" (ngSubmit)="onSubmitElection()">
                    <div class="card-body pt-0">
                        <div class="form-container">
                            <div class="mb-3">
                                <label for="ddlElection" class="form-label required-field">Election Name</label>
                                <ngx-select [allowClear]="true" [items]="electionNameArray" formControlName="ElectionId" optionValueField="id" optionTextField="ElectionName"
                                 placeholder="Select Election" (select)="getConstituencyName($event);clearFormSelectData('election')"
                                  (remove)="clearFormSelectData('election')" [ngClass]="{ 'is-invalid': submitted && f.ElectionId.errors }">
                                </ngx-select>
                                <div *ngIf="submitted && f.ElectionId.errors" class="invalid-feedback">
                                    <div *ngIf="f.ElectionId.errors.required">Election Name is required</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="ddlConstituency" class="form-label required-field">Constituency Name</label>
                                <ngx-select [allowClear]="true" [items]="constituencyNameArray" formControlName="ConstituencyId" optionValueField="id" 
                                optionTextField="ConstituencyName" placeholder="Select Constituency" (select)="clearFormSelectData('constituency')"
                                [disabled]="(!assignBoothForm.value.ElectionId || constituencyNameArray?.length == 0) ? true : false"
                                (remove)="clearFormSelectData('constituency')"  [ngClass]="{ 'is-invalid': submitted && f.ConstituencyId.errors}">
                                </ngx-select>
                                <div *ngIf="submitted && f.ConstituencyId.errors" class="invalid-feedback">
                                    <div *ngIf="f.ConstituencyId.errors.required">Constituency Name is required
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3" *ngIf="assignBoothForm.value.ConstituencyId">
                                <label for="txtSearchAssembly" class="form-label required-field">Assembly Name</label>
                                <div class="card border shadow-none">
                                    <div class="card-header border-bottom p-0 py-1">
                                        <input type="text" formControlName="assembly" [(ngModel)]="searchAssembly" placeholder="Search Assemblies" class="form-control form-control-sm border-0" [ngClass]="{ 'is-invalid': submitted && f.assembly.errors}">
                                    </div>
                                    <div class="card-body py-2 ChekBox" *ngIf="( assemblyArray | filter:searchAssembly ) as assemblyResult">
                                        <div class="form-check" *ngFor="let assemblyData of assemblyResult">
                                            <input class="form-check-input" type="checkbox" [checked]="assemblyData.checked" (change)="onCheckChangeAssembly($event, assemblyData.Id)">
                                            <label class="form-check-label" for="flexCheckDefault">
                                            {{assemblyData.ConstituencyName}}
                                        </label>
                                        </div>
                                        <div *ngIf="assemblyResult.length === 0">
                                            <div class="alert alert-danger text-center py-2">No Results Found!</div>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="submitted && f.assembly.errors" class="invalid-feedback">
                                    <div *ngIf="f.assembly.errors.required">Assembly is required</div>
                                </div>

                            </div>

                            <div class="mb-3" *ngIf="boothListMergeArray.length != 0">
                                <label for="txtSearchBooth" class="form-label required-field">Booth</label>
                                <div class="card border shadow-none">
                                    <div class="card-header border-bottom p-0 py-1">
                                        <input type="text" formControlName="boothList" placeholder="Search Booths" [(ngModel)]="searchboothList" class="form-control border-0 form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.boothList.errors}">
                                    </div>
                                    <div class="card-body py-2 ChekBox" *ngIf="( boothListMergeArray | filter:searchboothList ) as boothResult">
                                        <div class="form-check" *ngFor="let boothData of boothResult">
                                            <input class="form-check-input" type="checkbox" [checked]="boothData.checked" (change)="onCheckChangeBooths($event,boothData.AssemblyId,boothData.Id)">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{boothData.BoothNickName}}
                                            </label>
                                        </div>
                                        <div *ngIf="boothResult.length === 0">
                                            <div class="alert alert-danger text-center py-2">No Results Found!</div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-sm-3 mt-2 col">
                                    <button type="button" (click)="clearForm()" class="btn btn-secondary ">Clear</button>
                                </div>
                                <div class="col-sm-9 mt-2 col text-end">
                                    <button type="submit" class="btn btn-main">{{btnText}}</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-header">
                    <form [formGroup]="filterForm">
                        <div class="row g-2 justify-content-end">
                            <div class="col-sm-3">
                                <ngx-select [allowClear]="true" [items]="electionNameArray" optionValueField="id" (remove)="clearFilter('electionType')" (select)="filterData()" optionTextField="ElectionName" placeholder="Election Name" formControlName="ElectionNameId">
                                </ngx-select>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" formControlName="Search" placeholder="Constituency/Assembly Name" (keyup)="onKeyUpFilter()" />
                                    <button type="button" class="btn btn-light btn-sm" (click)="clearFilter('search')" *ngIf="filterForm.value.Search"><i
                                            _ngcontent-tbl-c102="" class="fas fa-times"></i></button>
                                    <button type="button" *ngIf="!filterForm.value.Search" class="btn btn-sm btn-light"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Election Name</th>
                                    <th>Constituency Name</th>
                                    <th>Assembly Name</th>
                                    <th>No. of Booths</th>
                                    <th>No. of Voters</th>
                                    <th>Manage Booths</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let assBoothEle of assignedBoothToElectionArray | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:total}; let i = index" [class.active]="assBoothEle.AsignId == HighlightRow">
                                    <td>{{assBoothEle.SrNo}}</td>
                                    <td>{{assBoothEle.ElectionName}}</td>
                                    <td>{{assBoothEle.ConstituencyName}}</td>
                                    <td>{{assBoothEle.Assembly}}</td>
                                    <td>{{assBoothEle.NoOfBooths}}</td>
                                    <td>{{assBoothEle.TotalVoters}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" title="View Booth Details" (click)="getAssignedBoothListDetail(assBoothEle.AsignId,assBoothEle)" class="btn btn-sm btn-light text-dark rounded" data-bs-toggle="modal" data-bs-target="#viewBoothsModal"><i class="far fa-eye"></i></button>
                                            <button type="button" title="Edit Booth Details" (click)="updateFlag = true; patchAssBoothElection(assBoothEle.AsignId)" class="btn btn-sm btn-light text-edit mx-1 rounded"><i
                                                    class="far fa-edit"></i></button>
                                            <button type="button" title="Delete Booth Details" (click)="delConfirmAssBothEle(assBoothEle.AsignId)" class="btn btn-sm btn-light text-danger rounded">
                                                <i class="fas fa-trash-alt"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mt-2 text-end" *ngIf="assignedBoothToElectionArray?.length == 0">
                        <div class="alert alert-danger text-center py-2">No Results Found!</div>
                    </div>
                    <div class="mt-2 text-end" *ngIf="assignedBoothToElectionArray?.length != 0">
                        <pagination-controls previousLabel="" nextLabel="" (pageChange)="onClickPagintion(pageSize = $event)"> </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="viewBoothsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewBoothsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewBoothsModalLabel">Booth Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-container">
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <div class="form-label">Election Name</div>
                            <div class="form-data">{{BoothListDetailData?.ElectionName}}</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-label">Constituency Name</div>
                            <div class="form-data">{{BoothListDetailData?.ConstituencyName}}</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-label">Assembly Name</div>
                        <div class="form-data">{{BoothListDetailData?.Assembly}}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <div class="form-label">No. of Booths</div>
                            <div class="form-data">{{BoothListDetailData?.NoOfBooths}}</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-label">No. of Voters</div>
                            <div class="form-data">{{BoothListDetailData?.TotalVoters}}</div>
                        </div>
                    </div>
                    <div class="mb-0">
                        <div class="form-label">Booths</div>
                        <div class="form-data" id="booth-form-data">
                            <ul class="mb-0 ps-3 list-column">
                                <li *ngFor="let AssBoothListDetail of AssBoothListDetailArray">
                                    {{AssBoothListDetail.BoothNickName}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>