.btn-ediprofile {
    font-size: 0.75rem;
    border: solid 1px rgba(0, 0, 0, 0.35);
    color: #757575;
    box-shadow: none;
    outline: none;
    padding: 3px 10px;
}

#myprofile img {
    width: 130px;
    height: 130px;
    /* border: solid 1px #ddd; */
    padding: 5px;
    margin-bottom: 15px;
}

.profile-photo{
    max-width: 100% !important;
    height: 180px;
    width: 180px;
}
.update-photo{
    background-color: #eee;
    border: 1px solid rgba(0,0,0,.125);
    padding: 7px;
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 3px;
    text-align: center;
    font-size: .85rem;
    color: #000;
    opacity: .9;
    right: -10px;
    top: -10px;
    z-index: 9;
    object-fit: cover;
}
@media screen and (max-width:478px) {
    .update-photo{
        background-color: #eee;
        border: 1px solid rgba(0,0,0,.125);
        padding: 7px;
        border-radius: 50%;
        position: absolute;
        width: 30px;
        height: 30px;
        line-height: 3px;
        text-align: center;
        font-size: .85rem;
        color: #000;
        opacity: .9;
        right: 60px;
        top: -10px;
        z-index: 9;
        object-fit: cover;
    }
}
.modal img {
    border-radius: 7px;
}
.invalid-feedback {
    position: absolute;
    margin-top: 0px;
}


.btn-profileedit {
    background-color: #eee;
    border: solid 1px #ddd;
    font-size: 0.75rem;
    color: #000;
    border-radius: 30px;
    padding: 0px 15px;
    line-height: 26px;
}

.disable-close-btn {
    pointer-events: none;
}

.form-control.ng-dirty.ng-invalid.ng-touched.is-invalid {
    border: solid 1px red;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }


