<div class="container-fluid">
    <div class="row mb-3" id="topheader">
        <div class="col-sm-12">
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center gap-2 w-75">
                    <img src="assets/images/home.svg">
                    <div class="input-group w-50">
                        <span class="input-group-text">
                            <i class="fas fa-search"></i>
                        </span>
                        <input type="text" class="form-control">
                    </div>
                    <button type="submit" role="search" class="btn btn-main">Search</button>
                </div>
                <div class="d-flex align-items-center gap-2 fw-bold w-25 justify-content-end">
                    <p class="mb-0 text-main">Maharashtra</p>
                    <i class="fas fa-angle-double-right text-main"></i>
                    <p class="mb-0 warning">Satara</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-12">
            <div class="card card-body" id="stats">
                <div class="row g-2">
                    <div class="col-sm">
                        <div class="card card-body pink h-100">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <div class="image-bg">
                                        <img src="assets/images/dashboard-images/Parliamentary_Constituency.svg"
                                            alt="...">
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p>Parliamentary Constituency</p>
                                    <h3>{{boothComitySummary?.totalPC}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card card-body voilet h-100">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <div class="image-bg">
                                        <img src="assets/images/dashboard-images/Assembly Constituency.svg" alt="...">
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p>Assembly Constituency</p>
                                    <h3>{{boothComitySummary?.totalAC}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card card-body orange h-100">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <div class="image-bg">
                                        <img src="assets/images/dashboard-images/Voters.svg" alt="...">
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p>Voters</p>
                                    <h3>{{boothComitySummary?.totalVoter}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card card-body blue h-100">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <div class="image-bg">
                                        <img src="assets/images/dashboard-images/Booths.svg" alt="...">
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p>Booths</p>
                                    <h3>{{boothComitySummary?.totalBooths}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card card-body green h-100">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <div class="image-bg">
                                        <img src="assets/images/dashboard-images/Booth_Committee.svg" alt="...">
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p>Booth Committee</p>
                                    <h3>{{boothComitySummary?.totalCommittee}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3 chartbox g-3 form-container">
        <div class="col-sm-5">
            <div class="card">
                <form [formGroup]="topFilter">
                <div class="card-header">
                    <div class="d-block">
                        <div class="form-check form-check-inline" *ngFor="let mapFilter of mapFilterTypeArray">
                            <input class="form-check-input" type="radio" formControlName="FilterTypeId" [value]="mapFilter.id" name="FilterTypeId"
                            (change)="changeFilterType()">
                            <label class="form-check-label" for="check">{{mapFilter.value}}</label>
                        </div>
                    </div>
                </div>
                <div class="card-header">
                        <ngx-select [allowClear]="true" [items]="bCFormationDropArray" formControlName="FilterId" optionValueField="constituenciesId" optionTextField="constituencyName"
                        (select)="selectDropdown()" (remove)="firstTimeCallM_Svg()"
                            placeholder="{{topFilter.value.FilterTypeId == 1 ? 'Select Parliamentary Constituency' : topFilter.value.FilterTypeId == 2 ? 'Select Assembly Constituency' : topFilter.value.FilterTypeId == 3 ? 'Select District' : ''}}">
                        </ngx-select>
                </div>
            </form>
                <div class="card-body committeesonmap2"> 
                    <div  id="mapSvgAssembly"></div>
                    <div  id="mapSvgParli"></div>
                    <div id="mapsvg1" (click)="svgMapClick()"></div>
                    <div [ngClass]="{'d-none': (topFilter.value.FilterTypeId != 3 || selectedDistrictId == '')}"
                     [class]="previousDistSelected=='9' ? 'm-5' : 'm-4'" id="mapsvg2" (click)="svgMapClick1('mapClick')"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="card card-body mb-3" id="president" *ngIf="presidentDetailObj?.fullName">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="flex-shrink-0">
                        <img src="assets/images/dashboard-images/President.svg" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <div class="d-flex align-items-center gap-2">
                            <span>President :</span>
                            <img src="assets/images/dashboard-images/Profile_dummy.svg">
                            <h6 class="mb-0 fw-bold">{{presidentDetailObj?.fullName}}</h6>
                        </div>
                    </div>
                    <div class="flex-shrink-1 ms-3">
                        <p class="mb-0 text-secondary">
                            <span>Mobile No. :</span>
                            <span class="fw-bold ms-2">{{presidentDetailObj?.mobileNo}}</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row g-3">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header text-main">
                            Booth Committee Performance
                        </div>
                        <div class="card-body">
                            <div class="card-height">
                                <div id="chart" *ngIf="pieChartShow">
                                    <apx-chart [series]="chartOptions?.series" [chart]="chartOptions?.chart"
                                      [labels]="chartOptions?.labels" [responsive]="chartOptions?.responsive"
                                      [legend]="chartOptions?.legend" [colors]="chartOptions?.colors"></apx-chart>
                                    <div class="mt-2 text-center">
                                    </div>
                                  </div>
                                  <div *ngIf="!pieChartShow" class="card-body">
                                    <div class="alert alert-danger text-center py-2 mb-0 small">No Data Found..!
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" id="leaders">
                    <div class="card">
                        <div class="card-header text-main">
                            Important Leaders
                        </div>
                        <div class="card-body pt-0">
                            <div class="card-height">

                                <div class="d-flex align-items-center leader" *ngFor="let impLeader of importantLeadersArray">
                                    <div class="flex-shrink-0">
                                        <div class="profile">
                                            <img [src]="impLeader?.profilePhoto" alt="..." class="leader-img" *ngIf="impLeader?.profilePhoto">
                                            <img src="assets/images/dashboard-images/Profile_dummy.svg" alt="..." class="leader-img" *ngIf="!impLeader?.profilePhoto">
                                            <img [src]="impLeader?.partyIconImage" class="party" *ngIf="impLeader?.partyIconImage">
                                            <img src="assets/images/logos/bjp.png" class="party" *ngIf="!impLeader?.partyIconImage">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p>{{impLeader?.leaderName ? impLeader?.leaderName : '-'}}</p>
                                        <div class="d-flex justify-content-between contacts">
                                            <div class="green">
                                                <i class="fas fa-phone-alt"></i>
                                                {{impLeader?.mobileNo ? impLeader?.mobileNo : '-'}}
                                            </div>
                                            <div class="orange">
                                                <i class="fas fa-award"></i>
                                                {{impLeader?.designation ? impLeader?.designation : '-'}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row chartbox mb-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">Constituency Wise Past Election Summary</div>
                <div class="card-body">  
                    <!-- (click()="electionIdPC = pcEleName?.electionId; electionTypeIdPC = pcEleName?.electionTypeId"  -->
                    <h6 class="text-orange fw-bold mb-3"><span *ngFor="let pcEleName of electionNamePCArray">{{pcEleName?.electionName}}</span></h6>
                   <!-- PC code Start Here -->
                    <table class="dash-table mb-3">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Constituency</th>
                                <th>Winner</th>
                                <th>Party</th>
                                <th>Votes</th>
                                <th>Winning Margin</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pcData of pastPCArray  | paginate: {itemsPerPage: pageSizePC, 
                                currentPage: paginationNoPC, totalItems:getTotalPC}; let i = index">
                                <td>{{((paginationNoPC + 1) * 10 + i + 1)-20}}</td>
                                <td>{{pcData?.constituencyNo}}-{{pcData?.constituenciesName}}</td>
                                <td>
                                    <a class="text-decoration-none">{{pcData?.candidateName ? pcData?.candidateName : '-'}}</a>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <span>{{pcData?.partyName ? pcData?.partyName : '-'}}</span>
                                    </div>
                                </td>
                                <td>{{pcData?.totalVotes}}</td>
                                <td>{{pcData?.winningMargin ? pcData?.winningMargin : '-'}}</td>
                                <td>
                                    <i class="fas fa-info-circle info" (click)="viewDetailAC_DC(0,pcData?.constituenciesId,pcData?.electionId)" data-bs-toggle="modal" data-bs-target="#MaptableDetailShow"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-2 text-end" *ngIf="pastPCArray?.length == 0">
                        <div class="alert alert-danger text-center py-2">No Results Found!
                        </div>
                    </div>
                    <pagination-controls *ngIf="pastPCArray?.length != 0" previousLabel="" nextLabel=""
                        (pageChange)="onClickPagintionPC($event)">
                    </pagination-controls>
                   <!-- (click()="electionIdAC = acEleName?.electionId; electionTypeIdAC = acEleName?.electionTypeId"  -->
                    <h6 class="text-orange fw-bold mb-3"><span *ngFor="let acEleName of electionNameACArray">{{acEleName?.electionName}}</span></h6>
                    <!-- AC code Start Here -->
                    <table class="dash-table mb-3">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Constituency</th>
                                <th>Winner</th>
                                <th>Party</th>
                                <th>Votes</th>
                                <th>Winning Margin</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let acData of pastACArray  | paginate: {itemsPerPage: pageSizeAC, 
                                currentPage: paginationNoAC, totalItems:getTotalAC}; let i = index">
                                <td>{{((paginationNoAC + 1) * 10 + i + 1)-20}}</td>
                                <td>{{acData?.constituencyNo}}-{{acData?.constituenciesName}}</td>
                                <td>
                                    <a class="text-decoration-none">{{acData?.candidateName ? acData?.candidateName : '-'}}</a>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <span>{{acData?.partyName ? acData?.partyName : '-'}}</span>
                                    </div>
                                </td>
                                <td>{{acData?.totalVotes}}</td>
                                <td>{{acData?.winningMargin ? acData?.winningMargin : '-'}}</td>
                                <td>
                                    <i class="fas fa-info-circle info" (click)="viewDetailAC_DC(1,acData?.constituenciesId,acData?.electionId)" data-bs-toggle="modal" data-bs-target="#MaptableDetailShow"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-2 text-end" *ngIf="pastACArray?.length == 0">
                        <div class="alert alert-danger text-center py-2">No Results Found!
                        </div>
                    </div>
                    <pagination-controls *ngIf="pastACArray?.length != 0" previousLabel="" nextLabel=""
                        (pageChange)="onClickPagintionAC($event)">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
 
    <div class="row chartbox mb-3" *ngIf="topFilter.value.FilterTypeId == 2 && topFilter.value.FilterId && assemblyPieChartListArray?.length">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header text-main">Taluka Committee Formation progress</div>
                <div class="card-body pb-0">
                    <div class="row ">
                        <div class="col-sm-5">
                            <div class="list-group list-group-flush" *ngFor="let assemblyPieList of assemblyPieChartListArray"
                             (click)="assemblyVillagePieChart(assemblyPieList)">
                                <a class="list-group-item list-group-item-action border-0 border-bottom" aria-current="true" [class.active]="assemblyPieList.constituenciesId == HighlightRowAssemblyPieList">
                                  {{assemblyPieList?.constituencyName}} {{assemblyPieList?.constituencyName ? 'Booth Committee' : ''}}
                                </a>
                              </div>
                        </div>
                        <div class="col-sm-7">
                            <div class=" d-flex justify-content-center align-items-center">
                            <div *ngIf="AssemblypieChartShow" class="">
                                <div id="chart">
                                    <apx-chart [series]="AssemblyPiechartOptions.series" [chart]="AssemblyPiechartOptions.chart"
                                    [labels]="AssemblyPiechartOptions.labels" [responsive]="AssemblyPiechartOptions.responsive"
                                  ></apx-chart>
                                  <!-- <apx-chart [series]="BarchartOptions?.series" [chart]="BarchartOptions?.chart"
                                    [dataLabels]="BarchartOptions?.dataLabels" [plotOptions]="BarchartOptions?.plotOptions"
                                    [yaxis]="BarchartOptions?.yaxis" [legend]="BarchartOptions?.legend" [fill]="BarchartOptions?.fill"
                                    [stroke]="BarchartOptions?.stroke" [tooltip]="BarchartOptions?.tooltip"
                                    [xaxis]="BarchartOptions?.xaxis" [dataLabels]="BarchartOptions?.dataLabels"></apx-chart> -->
                                </div>
                                <div class="text-center fw-bold mb-2">Taluka Committee Formation progress</div>
                              </div>
                              <div *ngIf="!AssemblypieChartShow" class=" card-body">
                                <div class="alert alert-danger text-center py-2 mb-0 small mt-5">No Data Found..!
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row chartbox mb-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header text-main">Talukawise Booth Committee Formation progress</div>
                <div class="card-body">
                    <div *ngIf="barChartShow" class="mt-5">
                        <div id="chart">
                          <apx-chart [series]="BarchartOptions?.series" [chart]="BarchartOptions?.chart"
                            [dataLabels]="BarchartOptions?.dataLabels" [plotOptions]="BarchartOptions?.plotOptions"
                            [yaxis]="BarchartOptions?.yaxis" [legend]="BarchartOptions?.legend" [fill]="BarchartOptions?.fill"
                            [stroke]="BarchartOptions?.stroke" [tooltip]="BarchartOptions?.tooltip"
                            [xaxis]="BarchartOptions?.xaxis" [dataLabels]="BarchartOptions?.dataLabels"></apx-chart>
                        </div>
                        <div class="text-center fw-bold mb-2">Talukawise Booth Committee Formation progress</div>
                      </div>
                      <div *ngIf="!barChartShow" class=" card-body">
                        <div class="alert alert-danger text-center py-2 mb-0 small mt-5">No Data Found..!
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row chartbox">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header text-main">Taluka Wise Important Leaders</div>
                <div class="card-body">
                    <table class="dash-table">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Taluka</th>
                                <th>Taluka President</th>
                                <th>Moible No.</th>
                                <th>Important Leaders</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let talukaPer of talukaPresidentArray  | paginate: {itemsPerPage: 10, 
                                currentPage: paginationNoTalukaPer, totalItems:getTotalTalukaPer}; let i = index">
                                <td>{{((paginationNoTalukaPer + 1) * 10 + i + 1)-20}}</td>
                                <td>{{talukaPer?.talukaName}}</td>
                                <td>
                                    <a class="text-decoration-none">{{talukaPer?.presidentName?.split('-')[0] ? talukaPer?.presidentName?.split('-')[0] : '-'}}</a>
                                </td>
                                <td>{{talukaPer?.presidentName?.split('-')[1] ? talukaPer?.presidentName?.split('-')[1] : '-'}}</td>
                                <td>
                                    <ng-container *ngFor="let impLeader of talukaPer?._IMPLeaderDetailsState">
                                    <div class="d-flex align-items-center gap-2">
                                        <a class="text-decoration-none">{{impLeader?.leaderName}} <span *ngIf="impLeader?.mobileNo">({{impLeader?.mobileNo ? impLeader?.mobileNo : ''}})</span></a>
                                    </div>
                                </ng-container>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-2 text-end" *ngIf="talukaPresidentArray?.length == 0">
                        <div class="alert alert-danger text-center py-2">No Results Found!
                        </div>
                    </div>
                    <pagination-controls *ngIf="talukaPresidentArray?.length != 0" previousLabel="" nextLabel=""
                        (pageChange)="onClickPagintionTalukaPer($event)">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal  -->
<div class="modal fade" id="MaptableDetailShow" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="MapSelectModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="MapSelectModalLabel1">{{viewDetailAC_DCArray[0]?.electionName}}</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" #searchAddressModel aria-label="Close"></button>
            </div>
            <div class="modal-body mt-20 py-2">

                <table class="dash-table mb-3">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Candidate Name</th>
                            <th>Party</th>
                            <th>Votes</th>
                            <th>Winning Margin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let viewData of viewDetailAC_DCArray; let i = index">
                            <td>{{i + 1}}</td>
                            <td>
                                <a class="primary">{{viewData?.candidateName ? viewData?.candidateName : '-'}}</a>
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <span>{{viewData?.partyName ? viewData?.partyName : '-'}}</span>
                                </div>
                            </td>
                            <td>{{viewData?.totalVotes}}</td>
                            <td>{{viewData?.winningMargin ? viewData?.winningMargin : '-'}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-2 text-end" *ngIf="viewDetailAC_DCArray?.length == 0">
                    <div class="alert alert-danger text-center py-2">No Results Found!
                    </div>
                </div>
  
            </div>
        </div>
    </div>
</div>