<div class="container-fluid commitees">
  <div id="pageheader" class="px-3">
    <span class="page-name">Committees On Map</span>
  </div>
  <div class="row chartbox mb-3">
    <div class="col-md-12">
      <div class="card card-body" id="committeesonmap">
        <div class="row gy-4">
          <div class="col-sm-6 border-end map-height">
            <div class="card card-body shadow-none p-0">
              <div class="committeesonmap2">
                <div class="text-end">{{filteredDistrict[0]?.districtName  + (filteredTal.length ? (' (' + filteredTal[0]?.talukaName +')'):'')}}</div>
                <!--   -->
                <div id="mapsvg1" (click)="svgMapClick('mapClick')"></div>
                <div id="mapsvg2" (click)="svgMapClick1('mapClick')"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card card-body shadow-none border py-2 mb-2">
              <div class="d-flex gap-4 justify-content-between text-success">
                <p class="mb-0 small">President : <span class="fw-bold">{{presidentDetailsObj?.fullName ?
                    presidentDetailsObj?.fullName :'-'}}</span></p>
                <p class="mb-0 small">Mobile No : <span class="fw-bold">{{presidentDetailsObj?.mobileNo ?
                    presidentDetailsObj?.mobileNo :'-'}}</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 border-end">
                <p class="bold">Booth Committee Performance</p>
                <div id="chart" *ngIf="pieChartShow">
                  <apx-chart [series]="chartOptions?.series" [chart]="chartOptions?.chart"
                    [labels]="chartOptions?.labels" [responsive]="chartOptions?.responsive"
                    [legend]="chartOptions?.legend" [colors]="chartOptions?.colors"></apx-chart>
                  <div class="mt-2 text-center">
                  </div>
                </div>
                <div *ngIf="!pieChartShow" class=" card-body">
                  <div class="alert alert-danger text-center py-2 mb-0 small">No Data Found..!
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card shadow-none border-0">
                  <div class="card-header py-1 px-0 border-bottom">
                    <span class="text-main">Important Leaders</span>
                  </div>
                  <div class="card-body p-0 fix-height">
                    <div class="list-group list-group-flush">
                      <a class="list-group-item list-group-item-action border-0 border-bottom px-2 " href="#"
                        *ngFor="let impLeaders of impLeadersArray" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        (click)="impLeaderDetails=impLeaders">
                        <p class="mb-0 fw-bold mt-1"> {{impLeaders?.voterName}} </p>
                        <span class="small">{{impLeaders?.mobileNo1}}</span>

                      </a>
                      <div *ngIf="impLeadersArray.length==0" class=" card-body">
                        <div class="alert alert-danger text-center py-2 mb-0 small">No Data Found..!
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div *ngIf="barChartShow" class="mt-5">
              <div id="chart">
                <apx-chart [series]="BarchartOptions?.series" [chart]="BarchartOptions?.chart"
                  [dataLabels]="BarchartOptions?.dataLabels" [plotOptions]="BarchartOptions?.plotOptions"
                  [yaxis]="BarchartOptions?.yaxis" [legend]="BarchartOptions?.legend" [fill]="BarchartOptions?.fill"
                  [stroke]="BarchartOptions?.stroke" [tooltip]="BarchartOptions?.tooltip"
                  [xaxis]="BarchartOptions?.xaxis" [dataLabels]="BarchartOptions?.dataLabels"></apx-chart>
              </div>
              <div class="text-center fw-bold mb-2">Talukawise Booth Committee Formation progress</div>
            </div>
            <div *ngIf="!barChartShow" class=" card-body">
              <div class="alert alert-danger text-center py-2 mb-0 small mt-5">No Data Found..!
              </div>
            </div>
          </div>
          <div class="col-sm-12" *ngIf="mapselected=='dist'">
            <div class="row">
              <div class="col-sm-3 border-end">
                <div class="card shadow-none border-0">
                  <div class="card-header py-1 px-0 border-bottom">
                    <span class="text-main">Taluka President</span>
                  </div>
                  <div class="card-body p-0 fix-height">
                    <div class="list-group-item list-group-item-action border-0 border-bottom px-2"
                      *ngFor="let presidents of talukaPresidentDataArray">
                      <span class="mb-0 fw-bold mt-1"> {{ presidents?.talukaName}} </span>
                      {{ ' : '+
                      (presidents?.memberName ? presidents?.memberName:'-')}}
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-sm-9">
                <div class="imp_leaders">
                  <div class="card shadow-none border-0">
                    <div class="card-header py-1 px-0 border-bottom">
                      <span class="text-main">Talukawise Important Leaders</span>
                    </div>
                    <div class="card-body fix-height">
                      <div class="row gy-2">
                        <div class="col-sm-6" *ngFor="let taluka of talukaIMPleaderArray">
                          <span class="fw-bold text-main">{{taluka?.talukaName}}</span>
                          <div class="list-group list-group-flush mb-3">
                            <div
                              class="list-group-item list-group-item-action px-0 d-flex border-0 border-bottom justify-content-between align-items-center"
                              *ngFor="let impLeader of taluka?.talukaWiseIMPLeaders" type="button"
                              data-bs-toggle="modal" data-bs-target="#exampleModal"
                              (click)="impLeaderDetails=impLeader">
                              <p class="mb-0 fw-bold mt-1">{{impLeader?.voterName | titlecase}} </p>
                              <span class="small">{{impLeader?.mobileNo1}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Important Leader Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body form-container">
        <div class="profile-party">
          <div class="position-relative">
            <img [src]="impLeaderDetails?.profilePhoto" alt="profilePhoto" srcset="" class="profilepic">
            <img [src]="impLeaderDetails?.partyIconImage" alt="profilePhoto" width="40" height="40" srcset=""
              class="party-pic">
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center px-0">
            <div>Leader Name</div>
            <div class="fw-bold">{{impLeaderDetails?.voterName}}</div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center px-0">
            <div>Designation</div>
            <div class="fw-bold">{{impLeaderDetails?.designation}}</div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center px-0">
            <div>Mobile No.</div>
            <div class="fw-bold">{{impLeaderDetails?.mobileNo1}}</div>
          </li>
          <li class="list-group-item px-0">
            <div>Remarks </div>
            <div class="fw-bold">{{impLeaderDetails?.remark}}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>