.commiteeMapOuter {
  position: relative;
}

.commiteeMapOuter>div.mapsvg-wrap:last-child {
  position: absolute !important;
  right: 0 !important;
  top: 230px !important;
  max-width: 310px !important;
}

.map-height {
  height: 450px !important;
}

.profile-party {
  text-align: center !important;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.profile-party .profilepic {
  width: 150px;
  border-radius: 50%;
}

.profile-party .party-pic {
  position: absolute !important;
  bottom: 0;
  right: 10px;
}

