
.imp_leaders ol li ul{
  list-style-type: upper-alpha;
}

ol li{
  margin: 10px 0px !important;
}
.commiteeMapOuter{
  position: relative;
}
.commiteeMapOuter > div.mapsvg-wrap:last-child{
  position: absolute!important;
  right: 0!important;
  top: 230px!important;
  max-width: 310px!important;
}

.fix-height {
  max-height: 60vh;
  overflow-y: auto;
}
.map-height{
  height: 450px !important;
}

.leader_names_scroll{
  max-height: 17vh !important;
  overflow-y: scroll !important;

}

.leader-profilepic{
  border-radius: 50%;
  width: 100px;
  height: 100px;

}