/* .commiteeMapOuter {
  position: relative;
}

.commiteeMapOuter>div.mapsvg-wrap:last-child {
  position: absolute !important;
  right: 0 !important;
  top: 230px !important;
  max-width: 310px !important;
}

.map-height {
  height: 450px !important;
}

.profile-party {
  text-align: center !important;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.profile-party .profilepic {
  width: 150px;
  border-radius: 50%;
}

.profile-party .party-pic {
  position: absolute !important;
  bottom: 0;
  right: 10px;
} */
.text-orange {
  color: #E26011;
}

#topheader img {
  width: 22px;
}

#topheader .input-group {
  border: none;
  background-color: #ccc;
  font-size: 0.85rem;
  border-radius: 0.375rem;
}

#topheader .input-group .input-group-text {
  border: none;
  background-color: transparent;
  color: #565656;
}

#topheader .input-group .form-control {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

#topheader .warning {
  color: #E26011;
}

#stats {
  box-shadow: 2px 2px 20px #00000024;
  border-radius: 10px;
  border: none;
}

#stats h3 {
  margin: 0;
  font-weight: 600;
}

#stats .card {
  padding: 10px;
}

#stats p {
  margin-bottom: 5px;
  font-size: clamp(0.8rem, 1vw, 1rem);
}

/* pink */
#stats .pink {
  border: solid 1px #D84B90;
  background-color: #D14C931A;
  border-radius: 10px;
}

#stats .pink p {
  color: #CB4E97;
  font-weight: 600;
}

#stats .pink .image-bg {
  background: linear-gradient(to right, #ED4787, #BC519D);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  padding: 10px;
}

#stats .pink .image-bg img {
  width: 22px;
}

/* voilet */
#stats .voilet {
  border: solid 1px #24088E;
  background-color: #6851BC12;
  border-radius: 10px;
}

#stats .voilet p {
  color: #1F0B6E;
  font-weight: 600;
}

#stats .voilet .image-bg {
  background: linear-gradient(to right, #875FBD, #5749BB);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  padding: 10px;
}

#stats .voilet .image-bg img {
  width: 22px;
}

/* orange */
#stats .orange {
  border: solid 1px #F78E4A;
  background-color: #F78E4A2E;
  border-radius: 10px;
}

#stats .orange p {
  color: #E26011;
  font-weight: 600;
}

#stats .orange .image-bg {
  background: linear-gradient(to right, #D29B2A, #F48057);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  padding: 10px;
}

#stats .orange .image-bg img {
  width: 22px;
}

/* blue */
#stats .blue {
  border: solid 1px #1973B5;
  background-color: #1973B51F;
  border-radius: 10px;
}

#stats .blue p {
  color: #1973B5;
  font-weight: 600;
}

#stats .blue .image-bg {
  background: linear-gradient(to right, #45C2F6, #59A4E3);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  padding: 10px;
}

#stats .blue .image-bg img {
  width: 22px;
}

/* green */
#stats .green {
  border: solid 1px #C6D84B;
  background-color: #C6D84B2B;
  border-radius: 10px;
}

#stats .green p {
  color: #6D7E00;
  font-weight: 600;
}

#stats .green .image-bg {
  background: linear-gradient(to right, #BACC47, #70BC51);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  padding: 10px;
}

#stats .green .image-bg img {
  width: 22px;
}

#president img {
  height: 40px;
}

#leaders .card-height {
  height: 38vh;
  max-height: 38vh;
  overflow-y: auto;
}

#leaders .leader {
  border-bottom: solid 1px #463AFD59;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#leaders .leader .profile {
  position: relative;
}

#leaders .leader .leader-img {
  width: 50px;
}

#leaders .leader .party {
  width: 22px;
  position: absolute;
  bottom: 0;
  right: -5px;
}

#leaders .leader p {
  margin-bottom: 3px;
  color: #1D1D1D;
  font-size: 0.9rem;
}

#leaders .leader .contacts {
  color: #5B5B5B;
  font-size: 0.8rem;
}

#leaders .leader .contacts .green i {
  color: #369415;
  font-size: 0.9rem;
  margin-right: 5px;
}

#leaders .leader .contacts .orange i {
  color: #FD8F3A;
  font-size: 0.9rem;
  margin-right: 5px;
}

.dash-table {
  border: solid 1px #463AFD;
  width: 100%;
  font-size: 0.85rem;
}

.dash-table thead {
  background-color: #463AFD21;
}

.dash-table tbody td,
.dash-table thead th {
  padding: 7px 10px;
}

.dash-table td img {
  width: 22px;
}

.dash-table td i {
  font-size: 1rem;
  color: #7B72FF;
}