.mem-list .btn {
    font-size: 0.8rem;}

#stats {
    padding-inline: 30px;
}

#stats h3,
#stats p {
    margin-bottom: 0px;
}

#stats .primary {
    border: solid 1px #2E5EE1;
    border-radius: 10px;
    position: relative;
    padding-inline: 35px;
}

#stats .primary i {
    background-color: #2E5EE1;

}

#stats .primary i,
#stats .velvet i,
#stats .green i,
#stats .red i {
    position: absolute;
    color: white;
    padding: 13px;
    border-radius: 10px;
    left: -22px;
    top: 23px;
}

/* voilet */
#stats .velvet {
    border: solid 1px #463AFD;
    border-radius: 10px;
    position: relative;
    padding-inline: 35px;
}

#stats .velvet i {
    background-color: #463AFD;
}


/* orange */
#stats .green {
    border: solid 1px #6D7E00;
    border-radius: 10px;
    padding-inline: 35px;
    position: relative;
}

#stats .green i {
    background-color: #6D7E00;
}

/* blue */
#stats .red {
    border: solid 1px #FE5656;
    border-radius: 10px;
    position: relative;
    padding-inline: 35px;
}

#stats .red i {
    background-color: #FE5656;
}

.commitee-list ol li {
    line-height: 2rem;
}

.dashboard-outline-card{
    border: 1px solid var(--main-color);
    border-radius: 10px;
}
.dashboard-outline-card .card-header{
    border-bottom: 1px solid var(--main-color) !important;
    padding: 15px;
}
.dashboard-outline-card .card-header h6{
   color: var(--main-color);
}
.dashboard-outline-card .card-header i,
.dashboard-outline-card .left-content i,
.dashboard-outline-card .right-content i{
   background-color: #2E5EE1;
   padding: 10px;
   border-radius: 50%;
   color: #ffff;
}
.dashboard-outline-card .left-content{
    border-right: 1px solid var(--main-color) !important;
    padding-block: 15px;
}
.dashboard-outline-card .left-content i{
    background-color: #6D7E00;
}
.dashboard-outline-card .left-content h6{
    color: #6D7E00;
}
.dashboard-outline-card .right-content{
    padding-block: 15px;
}
.dashboard-outline-card .right-content i{
    background-color: #FE5656;
}
.dashboard-outline-card .right-content h6{
    color: #FE5656;
}
.mem-list .mem-dev img {
    width: 22px;
}
agm-map {
    height: 300px;
}

.input-group.is-invalid {
    /* border: solid 1px red; */
    border-radius: .25rem;
    border: solid 1px #dc3545
}

.comm-list {
    max-height: 300px;
    overflow-y: auto;
}

/* 
.comm-list li {
    list-style-type: none;
    margin: 10px 0 10px 10px;
    position: relative;
}

.comm-list li:before {
    content: "\f0c1";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 0.85rem;
    margin-right: 10px;
}

.comm-list li a {
    font-size: 0.85rem;
}

.comm-list li a:hover {
    color: var(--main-color);
} */

.active {
    color: #7289da !important;
    font-weight: 600;
}


.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.mat-tree {
    font-size: 0.85rem;
}

.mat-tree-node:hover {
    cursor: pointer;
    color: var(--main-color);
}

.mat-tree-node button {
    width: 34px;
    height: 34px;
    line-height: 35px;
    margin-right: 5px;
    border-radius: 3px;
}

#AddMemberModal .modal-body {
    overflow-y: unset !important;
}

/* .member-posts a.card{
    margin-bottom: 15px;
} */
.member-posts a {
    text-decoration: none !important;
}

.member-posts a:hover {
    background-color: #fafafa;
    text-decoration: none !important;
}

.member-posts .member-name {
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.member-posts .post-date {
    font-size: 0.65rem;
    color: #000;
    background: rgba(231, 231, 231, 0.7);
    padding: 3px 10px;
    border-radius: 15px;
}

.member-posts .post-type {
    font-size: 0.65rem;
    color: #000;
    background: rgba(231, 231, 231, 0.7);
    padding: 3px 10px;
    border-radius: 15px;
}

.member-posts .post-title {
    font-size: 0.85rem;
    color: #222;
    margin-bottom: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.member-posts .post-image {
    width: 100%;
    height: 94px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.member-posts .card-link {
    width: 33.33%;
    text-align: center;
    padding: 6px;
    font-size: 0.85rem;
    color: #000;
}

.recent-posts {
    max-height: 603px;
    overflow-y: auto;
    padding: 1px;
    overflow-x: hidden;
}

.action-buttons button {
    font-size: 0.7rem;
}

.mem-list {
    position: relative;
}

.mem-list:hover {
    background-color: #eee;
}

.mem-list .mem-name {
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.mem-list .mem-no {
    font-size: 0.75rem;
    color: #454545;
    margin-bottom: 5px;
}

.mem-list .mem-desi {
    font-size: 0.8rem;
    color: #333;
    margin-bottom: 5px;
    font-weight: 600;
}

.mem-list .mem-act {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .mem-list .mem-dev{
    position: absolute;
    top: 5px;
    right: 5px;
} */
.mem-list .mem-dev img {
    width: 22px;
}

.company{
    border-radius: 50%;
    height:70pt;
    width:70pt;
    float: left;
    padding:5px;
  }