<div class="container-fluid">
    <div class="row mx-0 px-0" id="pageheader">
        <div class="col-sm-auto">
            <span class="page-name">Booth Committees
            </span>
        </div>
        <div class="col-sm text-end">
            <form [formGroup]="filterForm">
                <div class="row g-2 mb-2">
                    <div class="col-sm-3">
                        <ngx-select [allowClear]="true" [items]="clientNameArray" formControlName="ClientId" [disabled]="clientNameArray?.length == 1"
                            optionValueField="clientId" optionTextField="clientName" (select)="clearTopFilter('electionId');
                             getElectionName(); dataNotFound = false;" (remove)="clearTopFilter('clientId')"
                            placeholder="Select Leader">
                        </ngx-select>
                    </div>
                    <div class="col-sm-4">
                        <ngx-select [allowClear]="true" [items]="electionNameArray" formControlName="ElectionId"
                            optionValueField="electionId" (select)="getConstituencyName(); dataNotFound = false"
                            optionTextField="electionName" (remove)="clearTopFilter('electionId')"
                            [disabled]="!this.filterForm.value.ClientId || electionNameArray?.length == 0"
                            placeholder="Select Election">
                        </ngx-select>
                    </div>
                    <div class="col-sm-3">
                        <ngx-select [allowClear]="true" [items]="constituencyNameArray" formControlName="ConstituencyId"
                            (select)="getVillageData();dataNotFound = true" optionValueField="constituencyId"
                            optionTextField="constituencyName" (remove)="clearTopFilter('constituencyId')"
                            placeholder="Select Constituency" [disabled]="!this.filterForm.value.ElectionId">
                        </ngx-select>
                    </div>
                    <div class="col-sm-2">
                        <ngx-select [allowClear]="true" [items]="villageDropdown" formControlName="village"
                            optionValueField="villageId"
                            (select)="filterForm.controls['getBoothId'].setValue(0);filterForm.controls['AreaId'].setValue(0);globleBoothCommitteeType = 1;getBoothWiseCommitteGeneralAndFemale();ClientWiseBoothList()"
                            (remove)="clearTopFilter('village')" optionTextField="villageName"
                            [disabled]="!this.filterForm.value.ConstituencyId" placeholder="Select Village">
                        </ngx-select>
                    </div>
                    <div class="col-sm-7">
                        <ngx-select [allowClear]="true" [items]="clientWiseBoothListArray" formControlName="getBoothId"
                            (select)="getVoterAreaList();globleBoothCommitteeType = 1;getBoothWiseCommitteGeneralAndFemale()"
                            optionValueField="boothId" optionTextField="boothNickName" placeholder="Select Booth"
                            [disabled]="!filterForm.value.ConstituencyId" (remove)="clearTopFilter('boothId')">
                        </ngx-select>
                    </div>
                    <div class="col-sm-5">
                        <ngx-select [allowClear]="true" [items]="voterAreaArray" formControlName="AreaId"
                            (remove)="globleBoothCommitteeType = 1;getBoothWiseCommitteGeneralAndFemale()"
                            (select)="globleBoothCommitteeType = 1;getBoothWiseCommitteGeneralAndFemale()"
                            [disabled]="!filterForm.value.getBoothId || !filterForm.value.ConstituencyId"
                            optionValueField="areaId" optionTextField="areaName" placeholder="Select Area">
                        </ngx-select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row chartbox mb-3">
        <div class="col-sm-12">
            <div class="card">
                <ng-container *ngIf="!dataNotFound">
                    <div class="alert alert-danger text-center py-2 mb-0">Select above filters to View data!</div>
                </ng-container>
                <div class="card-header pb-0">
                    <div class="row col-sm-5 p-0 pb-2 mt-2" id="bootcomityhdetails" *ngIf="dataNotFound">
                        <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" [class.active]="globleBoothCommitteeType == 1"
                                    id="pills-BCommmitee-tab" data-bs-toggle="pill" data-bs-target="#pills-migrated"
                                    type="button" role="tab"
                                    (click)="globleBoothCommitteeType = 1;getBoothWiseCommitteGeneralAndFemale()"
                                    aria-controls="pills-migrated" aria-selected="true">
                                    General Booth Committee
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" [class.active]="globleBoothCommitteeType == 2"
                                    id="pills-pending-tab" data-bs-toggle="pill" data-bs-target="#pills-pending"
                                    type="button" role="tab"
                                    (click)="globleBoothCommitteeType = 2;getBoothWiseCommitteGeneralAndFemale()"
                                    aria-controls="pills-pending" aria-selected="false">
                                    Female Booth Committee
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="row" *ngIf="dataNotFound">
                        <div class="col-sm-12">
                            <div class="fixed-height">
                                <table class="table dashboard-table table-bordered">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">Sr. No.</th>
                                            <th rowspan="2">Booth Name</th>
                                            <th *ngIf="globleBoothCommitteeType == 1" colspan="5" class="text-center">
                                                General Booth Committee</th>
                                            <th *ngIf="globleBoothCommitteeType == 2" colspan="5" class="text-center">
                                                Female
                                                Booth Committee</th>
                                        </tr>
                                        <tr>
                                            <td class="p-0">
                                                <table class="dashboard-table table mb-0 border-bottom-0">
                                                    <thead>
                                                        <tr>
                                                            <th class="w-70 ">Voter No.</th>
                                                            <th>Committee Member Name</th>
                                                            <th class="w-170">Mobile No.</th>
                                                            <th class="w-170">Total Assigned Voters</th>
                                                            <th class="w-170">Actions</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr
                                            *ngFor="let boothComityGenerl_Female of boothWiseComityGenerlAndFemaleArray | paginate: { itemsPerPage: 10, currentPage: paginationNo, totalItems:getTotal}; let i = index">
                                            <td>{{((paginationNo + 1) * 10 + i + 1)-20}}</td>
                                            <td>{{boothComityGenerl_Female?.boothId}}-{{boothComityGenerl_Female?.boothName}}
                                            </td>
                                            <td class="p-0">
                                                <div class="fixed-height1">
                                                    <table class="dashboard-table table">
                                                        <tbody>
                                                            <tr
                                                                *ngFor="let generalBCMember of boothComityGenerl_Female?.boothcommitteeMembers">
                                                                <td title="Voter No" class="w-70">
                                                                    {{generalBCMember?.voterNo}}</td>
                                                                <td>
                                                                    <p class="mb-0 fw-bold">
                                                                        {{generalBCMember?.voterName}}
                                                                    </p>
                                                                    <span
                                                                        class="text-muted">({{generalBCMember?.areaName}})</span>
                                                                    <span class="text-secondary"
                                                                        *ngIf="generalBCMember?.designationId == 1">,
                                                                        {{generalBCMember?.designationName?.split('-')[1]}}</span>
                                                                </td>
                                                                <td class="w-170" title="Mobile No">
                                                                    {{generalBCMember?.mobileNo ?
                                                                    generalBCMember?.mobileNo
                                                                    : '-'}}</td>
                                                                <td class="w-170" title="Total Assigned Voter">
                                                                    {{generalBCMember?.totalAssignedVoter ?
                                                                    generalBCMember?.totalAssignedVoter : '-'}}</td>
                                                                <td class="w-170">
                                                                    <div class="btn-group" role="group"
                                                                        aria-label="Basic example">
                                                                        <button type="button"
                                                                            class="btn btn-light rounded text-dark"
                                                                            title="Edit" data-bs-toggle="modal"
                                                                            (click)="saveUpdateFlag = 'update'; bindVoterDetail(generalBCMember)"
                                                                            data-bs-target="#AddBoothCommitteeModal"><i
                                                                                class="fas fa-edit"></i></button>
                                                                        <button type="button"
                                                                            class="btn btn-light mx-2 rounded text-primary"
                                                                            title="Assign Voters" data-bs-toggle="modal"
                                                                            data-bs-target="#AssignVoterModal"
                                                                            (click)="assignVoterObj = generalBCMember; getVoterAreaListBCML(generalBCMember?.boothId);getVoterlistForAssignBoothComity(generalBCMember?.areaAgentId,generalBCMember?.boothId)">
                                                                            <i class="fas fa-user-plus"></i></button>
                                                                            <button type="button" title="Send Link"
                                                                            class="btn btn-sm btn-light text-main rounded fw-bold ml-2"
                                                                            (click)="sendDownloadLink(generalBCMember?.mobileNo)">
                                                                            <i class="fas fa-paper-plane"></i>
                                                                        </button>
                                                                        <button type="button"
                                                                            class="btn btn-light rounded text-danger"
                                                                            (click)="deleteConfirmModel(generalBCMember)"
                                                                            title="Delete"><i
                                                                                class="fas fa-trash-alt"></i></button>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <div
                                                        *ngIf="boothComityGenerl_Female.boothcommitteeMissingArea?.length != 0 ">
                                                        <a class="primary text-end" data-bs-toggle="modal"
                                                            data-bs-target="#missingAreaModel"
                                                            (click)="missingAreaData = boothComityGenerl_Female.boothcommitteeMissingArea">
                                                            <button class=" btn btn-main  mb-0">Missing Areas</button>
                                                        </a>
                                                    </div>
                                                    <button type="button" class="btn btn-primary rounded m-2 ms-3"
                                                        title="Add Committee Member"
                                                        (click)="saveUpdateFlag = 'add';btnTextBoothComity = 'Submit';areaNameBC.setValue('');getSearchVoterBCGeneralAndFemale(boothComityGenerl_Female?.boothId);getVoterAreaList()"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#AddBoothCommitteeModal"><i
                                                            class="fas fa-plus"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mt-2 text-end" *ngIf="boothWiseComityGenerlAndFemaleArray?.length == 0">
                                <div class="alert alert-danger text-center py-2">No Results Found!
                                </div>
                            </div>
                            <pagination-controls *ngIf="boothWiseComityGenerlAndFemaleArray?.length != 0 && getTotalPages > 1"
                                previousLabel="" nextLabel="" (pageChange)="onClickPagintion($event)">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- ...................................... Tab Code Start here................................... -->



    <!-- ...................................... Tab Code End here................................... -->


</div>

<!-- Modal for add/edit committee member -->
<div class="modal fade" id="AddBoothCommitteeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="AddBoothCommitteeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form [formGroup]="boothCommitteeForm">
                <div class="modal-header">
                    <p class="modal-title mb-0" id="AddBoothCommitteeModalLabel">{{saveUpdateFlag == 'add' ? 'Add Booth Committee Member' : 'Update Booth Committee Member'}}</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" #addCommitteeMemberModel
                        aria-label="Close" (click)="removeBindData()"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-container">
                                <div class="mb-3" *ngIf="saveUpdateFlag == 'add'">
                                    <label class="form-label"> Area</label>
                                    <ngx-select [allowClear]="true" [items]="voterAreaArray" [formControl]="areaNameBC"
                                        optionValueField="areaId" (select)="filterVoterByAreaId()"
                                        (remove)="filterVoterByAreaId()" optionTextField="areaName"
                                        placeholder="Select Area">
                                    </ngx-select>
                                </div>
                                <div class="mb-3" *ngIf="saveUpdateFlag == 'add'">
                                    <label class="form-label"> Name</label>
                                    <ngx-select [allowClear]="true" [items]="searchVoterBCGeneralAndFemaleArray"
                                        formControlName="voterName" [disabled]="saveUpdateFlag == 'update'"
                                        (remove)="removeBindData()" (selectionChanges)="bindVoterDetail($event)"
                                        optionTextField="mixVoterName" placeholder="Select Name">
                                    </ngx-select>
                                </div>
                                <hr *ngIf="saveUpdateFlag == 'add'">
                                <div class="row mb-3 gx-2">
                                    <div class="col-sm-4">
                                        <label class="form-label required-field">First Name</label>
                                        <input class="form-control" type="text" placeholder="First Name"
                                            formControlName="fName"
                                            [readOnly]="true"
                                            [ngClass]="{ 'is-invalid': submitted && f.fName.errors }">
                                            <!-- !boothCommitteeForm.value.voterName &&  -->
                                        <div *ngIf="submitted && f.fName.errors" class="invalid-feedback">
                                            <span *ngIf="f.fName.errors.required">First Name is required</span>
                                            <span *ngIf="f.fName.errors.pattern">Enter valid First Name</span>
                                            <span *ngIf="f.fName.errors?.maxlength">Please enter only 50
                                                Characters.</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="form-label">Middle Name</label>
                                        <input class="form-control" type="text" placeholder="Middle Name"
                                            formControlName="mName"
                                            [readOnly]="true"
                                            [ngClass]="{ 'is-invalid': submitted && f.mName.errors }">
                                             <!-- !boothCommitteeForm.value.voterName &&  -->
                                        <div *ngIf="submitted && f.mName.errors" class="invalid-feedback">
                                            <span *ngIf="f.mName.errors.pattern">Enter valid Middle Name</span>
                                            <span *ngIf="f.mName.errors?.maxlength">Please enter only 50
                                                Characters.</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="form-label required-field">Last Name</label>
                                        <input class="form-control" type="text" placeholder="Last Name"
                                            formControlName="lName"
                                            [readOnly]="true"
                                            [ngClass]="{ 'is-invalid': submitted && f.lName.errors }">
                                             <!-- !boothCommitteeForm.value.voterName &&  -->
                                        <div *ngIf="submitted && f.lName.errors" class="invalid-feedback">
                                            <span *ngIf="f.lName.errors.required">Last Name is required</span>
                                            <span *ngIf="f.lName.errors.pattern">Enter valid Last Name</span>
                                            <span *ngIf="f.lName.errors?.maxlength">Please enter only 50
                                                Characters.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label required-field">Mobile No.</label>
                                    <input type="text" class="form-control" placeholder="Mobile No."
                                        formControlName="mobileNo"
                                        (keypress)="commonService.acceptedOnlyNumbers($event)" maxlength="10"
                                        [readOnly]="!boothCommitteeForm.value.voterName && saveUpdateFlag == 'add'"
                                        [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }">
                                    <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                                        <span *ngIf="f.mobileNo.errors.required">Mobile No. is required</span>
                                        <span *ngIf="f.mobileNo.errors.pattern">Enter valid 10-digit Mobile No.</span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label required-field">Designation</label>
                                    <ngx-select [allowClear]="true" [items]="designationMasterArray"
                                        formControlName="designationId"
                                        [disabled]="!boothCommitteeForm.value.voterName && saveUpdateFlag == 'add'"
                                        optionValueField="id" optionTextField="designationName"
                                        placeholder="Select Designation"
                                        [ngClass]="{ 'is-invalid': submitted && f.designationId.errors }">
                                    </ngx-select>
                                    <div *ngIf="submitted && f.designationId.errors" class="invalid-feedback">
                                        Designation is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-flex justify-content-between align-items-center float-end">
                        <button type="button"
                            [disabled]="!boothCommitteeForm.value.voterName && saveUpdateFlag == 'add'"
                            class="btn btn-main" (click)="onSubmitForm()">{{btnTextBoothComity}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal for assign voters -->
<div class="modal fade" id="AssignVoterModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="AssignVoterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="AssignVoterModalLabel">Assign Voters - {{assignVoterObj?.voterName}}</p>
                <button type="button" class="btn-close" #boothCMlist
                    (click)="allSelectCheckBox.setValue('');searchText = '';selectArea.setValue(0)" data-bs-dismiss="modal" 
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-container">
                    <div class="row g-2 mb-2">
                        <div class="col-sm-6">
                            <ngx-select [allowClear]="true" [items]="voterAreaBCMLArray" optionValueField="areaId"
                                optionTextField="areaName"
                                (select)="allSelectCheckBox.setValue('');searchText = ''; getVoterlistForAssignBoothComity(areaAgentIdABL,getBoothId)"
                                [formControl]="selectArea" (remove)="clearFilterAssignedBC('area')"
                                placeholder="Select Area">
                            </ngx-select>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input class="form-control" type="text" name="search" [(ngModel)]="searchText"
                                    autocomplete="off" placeholder="Search...">
                                <button type="button" class="btn btn-light border btn-sm"
                                    (click)="clearFilterAssignedBC('search')" *ngIf="searchText"><i
                                        _ngcontent-tbl-c102="" class="fas fa-times"></i></button>
                                <button type="button" *ngIf="!searchText" class="btn btn-sm border btn-light"><i
                                        class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="fixed-height1">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Voter No.</th>
                                    <th>Voter Name</th>
                                    <th>Mobile Number</th>
                                    <th>Area Name</th>
                                    <th>Assigned To</th>
                                    <th> <div *ngIf="!searchText" class="d-flex  align-items-center"> <input class="form-check-input me-2" type="checkbox"
                                                [formControl]="allSelectCheckBox" [checked]="allSelectCheckBox.value"
                                                (change)="selectAllCategory($event)" id="flexCheckDefault"> <span>All</span></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let voterlistAssgnBoothComity of getVoterlistForAssignBoothComityArray | filter:searchText.trim()">
                                    <td>{{voterlistAssgnBoothComity?.voterNo}}</td>
                                    <td>{{voterlistAssgnBoothComity?.voterName}}</td>
                                    <td>
                                        <span>
                                            <span
                                                *ngIf="voterlistAssgnBoothComity?.isWrongMobileNo == 0 && commonService.checkDataType(voterlistAssgnBoothComity?.mobileNo1) == true">
                                                <a class="text-main"
                                                    href="tel:{{voterlistAssgnBoothComity?.mobileNo1}}">{{voterlistAssgnBoothComity?.mobileNo1}}</a>
                                            </span>
                                            <span
                                                *ngIf="(voterlistAssgnBoothComity?.isWrongMobileNo == 1 || (commonService.checkDataType(voterlistAssgnBoothComity?.mobileNo1) != true && voterlistAssgnBoothComity?.isWrongMobileNo == 0)) && voterlistAssgnBoothComity?.isWrongMobileNo2 == 0 && commonService.checkDataType(voterlistAssgnBoothComity?.mobileNo2) == true">
                                                <a class="text-main"
                                                    href="tel:{{voterlistAssgnBoothComity?.mobileNo2}}">{{voterlistAssgnBoothComity?.mobileNo2}}</a>
                                            </span>
                                            <span
                                                *ngIf="(commonService.checkDataType(voterlistAssgnBoothComity?.mobileNo1) == false || voterlistAssgnBoothComity?.isWrongMobileNo == 1) && (commonService.checkDataType(voterlistAssgnBoothComity?.mobileNo2) == false || voterlistAssgnBoothComity?.isWrongMobileNo2 == 1) && voterlistAssgnBoothComity?.extraContcts">
                                                <a class="text-main"
                                                    href="tel:{{voterlistAssgnBoothComity?.extraContcts.split(',')[0]}}">{{voterlistAssgnBoothComity?.extraContcts.split(',')[0]}}</a>
                                            </span>
                                            <span
                                                *ngIf="(commonService.checkDataType(voterlistAssgnBoothComity?.mobileNo1) != true || voterlistAssgnBoothComity?.isWrongMobileNo == 1) && (commonService.checkDataType(voterlistAssgnBoothComity?.mobileNo2) != true || voterlistAssgnBoothComity?.isWrongMobileNo2 == 1) && !voterlistAssgnBoothComity?.extraContcts">
                                                -</span>
                                        </span>
                                    </td>
                                    <td>{{voterlistAssgnBoothComity?.areaName ? voterlistAssgnBoothComity?.areaName :
                                        '-'}}</td>
                                    <td>{{voterlistAssgnBoothComity?.assignedTo ? voterlistAssgnBoothComity?.assignedTo
                                        : '-'}}</td>
                                    <td>
                                        <input class="form-check-input"
                                            [checked]="voterlistAssgnBoothComity?.isAssigned == 1"
                                            (change)="selectSingleCategory($event,voterlistAssgnBoothComity?.voterId)"
                                            type="checkbox">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <ng-template #noResults class="alert alert-danger text-center py-2">No Results Found!</ng-template> -->
                        <div class="mt-2 text-end"
                            *ngIf="getVoterlistForAssignBoothComityArray?.length == 0 || (getVoterlistForAssignBoothComityArray | filter: searchText)?.length <= 0">
                            <div class="alert alert-danger text-center py-2">No Results Found!</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button> -->
                <button type="button" class="btn btn-main" (click)="onSubmitAVoterToComityMemberForm()">Assign
                    Voter</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Missing Areas  -->
<div class="modal fade" id="missingAreaModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="missingAreaModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="missingAreaModelLabel">Missing Areas</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mt-20">
                <div>
                    <ul>
                        <div *ngFor="let missingArea of missingAreaData">
                            <li *ngIf="missingArea?.areaName"> {{missingArea?.areaName}}</li>
                        </div>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- modal pop up -->
<button data-bs-toggle="modal" class="requestdemo" style="display:none" #CommityMemberconfModel
    data-bs-target="#conformationModel"></button>
<div class="modal fade border" id="conformationModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="conformationModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 300px;">
        <div class="modal-content">
            <div class="modal-header bg-transparent border-bottom-0">
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" #CommityMemberconfModel
                    aria-label="Close"></button> -->
            </div>
            <div class="modal-body text-center pb-5">
                <!-- <svg _ngcontent-wqt-c55="" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                    <circle _ngcontent-wqt-c55="" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10"
                        cx="65.1" cy="65.1" r="62.1" class="path circle"></circle>
                    <polyline _ngcontent-wqt-c55="" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
                        stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " class="path check"></polyline>
                </svg> -->
                <h5 class="my-3">{{confornModelMsg}}</h5>
                <p class="mb-4">Do you want to add committee member.</p>
                <button class="btn btn-secondary me-2" data-bs-dismiss="modal" type="button" data-bs-dismiss="modal"
                    aria-label="Close">Cancel</button>
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal" aria-label="Close"
                    (click)="committeeMConformation(confoUserId)" type="button" data-bs-dismiss="modal"
                    aria-label="Close">Add</button>
            </div>
        </div>
    </div>
</div>
